USE [master]
GO
/****** Object:  Database [QUANLIBANHANG]    Script Date: 12/6/2021 4:14:12 PM ******/
CREATE DATABASE [QUANLIBANHANG]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLIBANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLIBANHANG]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 12/6/2021 4:14:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [int] NOT NULL,
	[MASP] [char](4) NOT NULL,
	[SL] [int] NOT NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/6/2021 4:14:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [int] NOT NULL,
	[NGHD] [smalldatetime] NOT NULL,
	[MAKH] [char](4) NULL,
	[MANV] [char](4) NULL,
	[TRIGIA] [money] NULL,
 CONSTRAINT [HOADON_SOHD_PK] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/6/2021 4:14:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](4) NOT NULL,
	[HOTEN] [varchar](40) NOT NULL,
	[PHAI] [nchar](3) NULL,
	[DCHI] [varchar](50) NOT NULL,
	[SODT] [varchar](20) NOT NULL,
	[NGSINH] [smalldatetime] NOT NULL,
	[NGDK] [smalldatetime] NOT NULL,
	[DOANHSO] [money] NOT NULL,
 CONSTRAINT [KHACHHANG_MAKH_PK] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 12/6/2021 4:14:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [char](4) NOT NULL,
	[TENNCC] [varchar](100) NOT NULL,
	[DCHI] [varchar](50) NOT NULL,
	[SODT] [varchar](20) NOT NULL,
 CONSTRAINT [NHACC_MANCC_PK] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/6/2021 4:14:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](4) NOT NULL,
	[HOTEN] [varchar](40) NOT NULL,
	[PHAI] [nchar](3) NULL,
	[NGVL] [smalldatetime] NOT NULL,
	[SODT] [varchar](20) NOT NULL,
 CONSTRAINT [NHANVIEN_MANV_PK] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/6/2021 4:14:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](4) NOT NULL,
	[TENSP] [nvarchar](40) NOT NULL,
	[DVT] [char](10) NOT NULL,
	[HANSD] [smalldatetime] NOT NULL,
	[NHCC] [char](4) NULL,
	[GIA] [money] NOT NULL,
 CONSTRAINT [SANPHAM_MASP_PK] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (15001, N'SP01', 1)
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (15001, N'SP04', 1)
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (15002, N'SP07', 1)
GO
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (15001, CAST(N'1900-01-09T00:00:00' AS SmallDateTime), N'KH01', N'NV04', 100000.0000)
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (15002, CAST(N'1900-01-07T00:00:00' AS SmallDateTime), N'KH03', N'NV05', 12000.0000)
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (15003, CAST(N'1900-01-08T00:00:00' AS SmallDateTime), N'KH07', N'NV01', 1000000.0000)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [PHAI], [DCHI], [SODT], [NGSINH], [NGDK], [DOANHSO]) VALUES (N'KH01', N'NGUYEN TUAN HUNG', N'NAM', N'230 TRUNG VUONG, HA NOI', N'0903657826', CAST(N'1900-02-11T00:00:00' AS SmallDateTime), CAST(N'1900-02-21T00:00:00' AS SmallDateTime), 2000000.0000)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [PHAI], [DCHI], [SODT], [NGSINH], [NGDK], [DOANHSO]) VALUES (N'KH02', N'HO HUY PHUC', N'NAM', N'735 TRAN HUNG DAO, Q1, TP HCM', N'0907579875', CAST(N'1900-02-05T00:00:00' AS SmallDateTime), CAST(N'1900-01-17T00:00:00' AS SmallDateTime), 3000000.0000)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [PHAI], [DCHI], [SODT], [NGSINH], [NGDK], [DOANHSO]) VALUES (N'KH03', N'TRAN HOANG LUAN', N'NAM', N'173 HO VAN HUE, QPHU NHUAN, TP HCM', N'857658790', CAST(N'1900-01-18T00:00:00' AS SmallDateTime), CAST(N'1900-01-17T00:00:00' AS SmallDateTime), 2500000.0000)
GO
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [DCHI], [SODT]) VALUES (N'CC01', N'CONG TU TNHH NUOC GIAI KHAC SUNTORY PEPSICO VIENAM', N'88 DONG KHOI, P.BEN NGHE, Q1, TP HCM', N'02838219437')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [DCHI], [SODT]) VALUES (N'CC02', N'CONG TY CO PHAN ACECOOK VIET NAM', N'KCN TAN BINH, P.TAY THANH, Q. TAN PHU, TP HCM', N'02838154064')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [DCHI], [SODT]) VALUES (N'CC03', N'CONG TY TNHH NUOC GIAI KHAC COCA-COLA VIET NAM', N'485 XA LO HA NOI, P.LINH TRUNG, THU DUC, TP HCM', N'02838961000')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHAI], [NGVL], [SODT]) VALUES (N'NV01', N'NGUYEN CONG PHU', N'NAM', CAST(N'1900-01-10T00:00:00' AS SmallDateTime), N'0705789870')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHAI], [NGVL], [SODT]) VALUES (N'NV02', N'TRAN THI NHAN', N'NU ', CAST(N'1900-01-20T00:00:00' AS SmallDateTime), N'0905788976')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHAI], [NGVL], [SODT]) VALUES (N'NV03', N'NGUYEN HUY HOANG', N'NAM', CAST(N'1900-01-23T00:00:00' AS SmallDateTime), N'0902340987')
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [HANSD], [NHCC], [GIA]) VALUES (N'SP01', N'  NUOC NGOC COCACOLA', N'CHAI      ', CAST(N'1900-01-06T00:00:00' AS SmallDateTime), N'CC03', 10000.0000)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [HANSD], [NHCC], [GIA]) VALUES (N'SP02', N'  NUOC NGOC PEPSI', N'CHAI      ', CAST(N'1900-01-08T00:00:00' AS SmallDateTime), N'CC01', 10000.0000)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DVT], [HANSD], [NHCC], [GIA]) VALUES (N'SP03', N'  MI LY MODERN', N'LY        ', CAST(N'1900-01-12T00:00:00' AS SmallDateTime), N'CC02', 8000.0000)
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [CTHD_MASP_FK] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [CTHD_MASP_FK]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [CTHD_SOHD_FK] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [CTHD_SOHD_FK]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [HOADON_MAKH_FK] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [HOADON_MAKH_FK]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [HOADON_MANV_FK] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [HOADON_MANV_FK]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [SANPHAM_NHCC_FK] FOREIGN KEY([NHCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [SANPHAM_NHCC_FK]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [KHACHHANG_PHAI_CHK] CHECK  (([PHAI]=N'NU' OR [PHAI]=N'NAM'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [KHACHHANG_PHAI_CHK]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [NHANVIEN_PHAI_CHK] CHECK  (([PHAI]=N'NU' OR [PHAI]=N'NAM'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [NHANVIEN_PHAI_CHK]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CHECK_GIA] CHECK  (([GIA]>=(500)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CHECK_GIA]
GO
USE [master]
GO
